/.idea
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
*.DS_Store
Thumbs.db
.project
public/uploads/*
public/bower_components
!public/uploads/.gitkeep
/nbproject/private/
_Sources
nbproject
docs
